@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url("background-img.png");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  background-color: black;
  top: 0;
}

nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.box {
  color: white;
  /* z-index: 10; */
}
.hero {
  height: calc(100% - 62px);
  font-family: "Martel Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-direction: column;
  padding: 0 30px;
  gap: 23px;
}
.hero > :first-child {
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.sepration
{
    height: 7px;
    background-color: rgb(72, 69, 69);
}
.btn 
{
  padding: 3px 8px;
  font-weight: bold;
  background-color: white;

}

.red-btn
{
  background-color: red;
  color: white;
  padding: 3px 24px ;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
}
.hero-buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input
{
  padding:7px 101px 8px 14px;
  /* z-index: 10; */
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
  /* font-weight: 900; */
}
.btn-sm
{
  color: white;
  padding: -75px;
  border-width: 0.0625rem;
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
  background-color: red;

}
.eng
{
  background-color: rgb(15, 20, 23);
  color: white;
  border: 1px solid rgb(95, 95, 94);
  border-radius: 4px;
  cursor: pointer;
}
.header-top
{
  display: flex;
  gap: 20px;
}
.first
{
  display: flex;
  justify-content: center;
  max-width: 50vw;
  flex-wrap: wrap;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}
.secImg
{
  
  position: relative;
}
.secImg img 
{
  width: 305px;;
  z-index: 10;
  position: relative;
}

.secImg video
{
  width: 305px;
  
}
section.first > div
{
  display: flex;
  flex-direction: column;
 
}
section.first > div :first-child
{
  font-size: 24px;
  font-weight: bolder;
}
section.first > div :nth-child(2)
{
  font-size: 24px;
}
.faq-box svg
{
  /* filter: invert(1); */
}
.faq h2
{
  text-align: center;
  font-size: 48px;
}
.faq
{
  background-color: black;
  color: white;
  padding: 34px;
}

.faq-box
{ 
  transition: all 1s ease-out;
  display: flex;
  padding: 24px;
  font-size: 24px;
  cursor: pointer;
  max-width: 60vw;
  margin:34px auto;
  justify-content: space-between;
  background-color: #2d2d2d;
  width: 100vw;
}
.faq-box:hover
{
  background-color: #414141;
}
footer
{
  color: white;
  padding: 14px;
  max-width: 60vw;
  margin: auto;
  
}
footer .questions
{
  padding: 34px 0;
}
.footer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  text-align: center;
  
}
@media screen and (max-width:1300px )
{
  .footer
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  color: white;
  text-align: center;
  
}
.footer a 
{
  text-decoration: underline;
  font-size: 14px;
  color: white;
}
.footer-items
{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (max-width:1300px )
{
  .first
  {
    flex-wrap: wrap;
  }
  section.first > div
  {
     padding: 34px 0;
  } 
  
}

@media screen and (max-width:1300px )
{
  .footer
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  color: white;
  text-align: center;
  gap: 25px;
  
}
}
}